<div class="fileupload fileupload-new" data-provides="fileupload">
	<span class="btn btn-file">
		<span class="fileupload-new">Selecionar Arquivo</span>
		<span class="fileupload-exists">Alterar</span>
		<%= form.file_field field %>
	</span>
	<span class="fileupload-preview"></span>
	<a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
</div>