<tr>
	<% if @model.my_admin.can?(:destroy, my_admin_user) %>
		<td class="with-checkbox">
			<%= check_box_tag :remove, object.id %>
		</td>
	<% end %>

	<% @model.my_admin.list_display.each_with_index do |field, index| %>
		<td>
			<%= field_content(@application, @model, field, object) %>
		</td>
	<% end %>

	<%= render model_template(@application, @model, 'actions'), object: object %>
</tr>