<% content_for :title do %><%= I18n.t('my_admin.titles.models.edit', :model => @model.title) %><% end %>

<div class="row-fluid">	
	<div class="span12">
		<div class="box box-bordered">
			<%= render model_template(@application, @model, 'form'), { :url => show_model_link(@application, @model, @item), :type => :edit } %>
		</div>
	</div>
</div>