.login.first_user .wrapper {
  top: 38%;
}

#main .breadcrumbs {
  margin-bottom: 20px;
}

.show_color{
  height: 20px;
}

#nprogress .spinner{
    top: 55px;
}

#nprogress .bar{
    background: #31B4FF;
}